32_BirthdayEmailSender/creds.py
32_BirthdayEmailSender/birthdays.csv
33_ISSNotifier/creds.py
35_WeatherAlert/creds.py
/37_HabitTracker/creds.py
/*/creds.py
59_BlogCapstone2_Styling/static
67_BlogCapstone3_RESTfulImpl/static
69_BlogCapstone4_UserAuthImpl/static
71_DeployingWebApp/static
74_Lego_Agg_Merge_Analysis/data